.navcontainer{
    display: flex;
    justify-content: space-between;
    padding: 26px;
  } 

  .my-nav-bar{
    display: inline-flex;
  }

  .titlediv{
      display: flex;
      justify-content: space-between;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: yellow;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: blueviolet;
  }

  .Add-Movie{
    border: 60px;
    justify-content: center;
  }

  .container{
      padding: 80px;
      padding-left: 230px;
      justify-content: center;
  }

  .center-text{
      justify-content: right;
      padding-top: 100px;
      font-size: 40px;
      padding-left: 690px;
  }

  .container-by-id{
    padding: 80px;
    padding-left: 770px;
    padding-top: 50px;
    justify-content: center;
}

.center-text-id{
    justify-content: right;
    padding-top: 100px;
    font-size: 40px;
    padding-left: 800px;
}

.table-container{
    padding-top: 500px;
    justify-content: left;
    
}

.Welcome{
  font-size: 100px;
  text-align: center;
  padding-top: 200px;
  color: deeppink;
}

.fuck{
  color: blue;
}